<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <head>
        <title><ui:insert name="title">JSF Sample 01</ui:insert></title>
    </head>

    <body>
        <ui:debug hotkey="x"
                  rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" />

        <div id="header">
            <ui:insert name="header">
                <ui:include src="/WEB-INF/templates/header.xhtml"/>
            </ui:insert>
        </div>


        <div id="content">
            <ui:insert name="content"/>
        </div>

        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="/WEB-INF/templates/footer.xhtml"/>
            </ui:insert>
        </div>

    </body>

</html>
