<!DOCTYPE html>

<!-- This is the default page as defined in the welcome-file-list of web.xml.
     The ui:composition tag access the file /WEB-INF/templates/BasicTemplate.xhtml
     which defines the basic parts of any page that depends on it. This page
     defines a section the designer has chosen to call 'content'.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- The template file -->
    <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
        <ui:define name="content">

            <!-- The preRenderView type represents an event that will occur
            before the page is rendered. In this example that task is the manual
            retrieval of a cookie. If a cookie is not found then a cookie is
            created. Cookies must be written to the browser before any other
            HTML is delivered and that is why it is a preRenderView. Cookies
            can be read at any time because they are in the Response object. -->
            <f:metadata>
                <f:event type="preRenderView"
                         listener="#{preRenderViewBean.checkCookies}" />
            </f:metadata>

            <!-- A tag that defines a standard HTML form -->
            <h:form>
                <!-- Creates a table layout for this part of the page.
                 The table will have two columns and the data will be laid out
                 left to right, top to bottom.
                -->
                <h:panelGrid columns="2">
                    <h:outputText value="#{msgs.name}"></h:outputText>
                    <!-- By using the h:inputText tag the EL for the login
                         The loginBean referenced in the value attribute is a data
                         bean because its tag is h:inputText.The name after the
                         period is translated into the appropriate set method.
                         In this case it will be setName()
                    -->
                    <h:inputText value="#{loginBean.name}"></h:inputText>
                    <h:outputText value="#{msgs.password}"></h:outputText>
                    <!-- Does not display the entered text -->
                    <h:inputSecret value="#{loginBean.password}"></h:inputSecret>
                </h:panelGrid>
                <!-- The <h:commandButton> generates a HTML <input type="submit">
                      button which submits by default the parent <h:form> using the
                      HTTP POST method and invokes the actions attached to action.
                      The action is a navigation defined in the faces-config.xml
                      called login.
                -->
                <h:commandButton value="#{msgs.login}" action="login"></h:commandButton>
            </h:form>
        </ui:define>
    </ui:composition>
</html>