<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- Using the same template as the first page, the content displays the value
         returned from the bean named loginBean and its method getName().
         The loginBean referenced in the value attribute is a data bean because its
         tag is h:outputText.The name after the period is translated into the
         appropriate get method. In this case it will be getName()-->
    <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
        <ui:define name="content">
            <f:metadata>
                <f:event type="preRenderView"
                         listener="#{preRenderViewBean.checkCookies}" />
            </f:metadata>

            <h:outputText value="#{msgs.welcome} #{loginBean.name}"></h:outputText>
        </ui:define>
    </ui:composition>
</html>
